azure-core
azure-identity
azure-storage-blob
azure-storage-file-datalake
certifi
cffi
charset-normalizer
colorzero
cryptography
dht11
gpiozero
idna
isodate
msal
msal-extensions
pip
pycparser
PyJWT
requests
RPi.GPIO
setuptools
six
typing_extensions
urllib3
